{% extends "layout.html" %}

{% set mainClasses = '' %}
{% set containerClasses = 'nhsuk-width-container-fluid' %}
{% set bodyClasses = 'nhsuk-white-background' %}
{% block pageScripts %}
<script type="text/javascript" src="/js/print.js"></script>

{% endblock %}
{% block pageTitle %}
NHS e-referral Service
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container-fluid nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="search" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8"
            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
          </path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      </a>
    </div>
    <!-- END LOGO -->
    <!-- SERVICE NAME -->
    <div class="nhsuk-header__transactional-service-name">
      <a class="nhsuk-header__transactional-service-name--link" href="/">e-Referral Service</a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
          <ul class="nhsuk-header__navigation-list" style="border:0">
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/conditions/social-care-and-support/">
                Help
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/news/">
                Alerts

              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/service-search">
                Dave Evans
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

</header>
<!-- SUB MENU PATIENT INFO -->
<nav class="nhsuk-grey-background patient-info">
  <ul role="navigation">
    <li><span style=""><strong>UBRN: </strong> 3452 1007 6779</span></li>
    <li><strong>Patient: </strong><a href="Patient name">EVANS, David (Mr)</a></li>
    <li><strong>Gender: </strong> Male</li>
    <li>30 years (4 June 1988)</li>
  </ul>
  <div class="nhsuk-close">
    <a class="" href="search">Close
      <svg class="nhsuk-icon nhsuk-icon--ers nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
      </svg></a>

  </div>
</nav>
{% endblock %}
{% block content %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-grid-column-one-quarter nhsuk-sidebar">



      <nav class="nhsuk-sidebar-actions">
        <ul>
          <li><a href="referral-summary">View referral summary<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg></a></li>


          <li><a href="referral-summary">Manage worklists<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg></a></li>
        </ul>

      </nav>




  </div>
  <div class="nhsuk-grid-column-three-quarters">



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-heading-menu">
          <h1 class="nhsuk-heading-m nhsuk-heading-menu__title">
          Patient referral booking instructions</h1>
          <div class="nhsuk-heading-menu__actions">


            <p>

              <a onclick="myFunction" role="button">Print this page</a></p>
              <button type="button" onclick="myFunction" name="button">Print</button>

          </div>

        </div>
        <!--<div class="nhsuk-heading-menu">
          <h1 class="nhsuk-heading-m">Patient referral booking instructions</h1>
          <a class="#" aria-controls="" onclick="myFunction()">

            <svg class="nhsuk-icon--ers" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <title>Print</title>
    <desc>Created with Sketch.</desc>
    <g id="Print" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(13.000000, 18.000000)" fill="#425462" fill-rule="nonzero">
            <path d="M10.0899281,80.0359712 L5,80.0359712 C2.23857625,80.0359712 3.38176876e-16,77.7812901 0,75 L0,34.7122302 C-3.38176876e-16,31.9309401 2.23857625,29.676259 5,29.676259 L120,29.676259 C122.761424,29.676259 125,31.9309401 125,34.7122302 L125,75 C125,77.7812901 122.761424,80.0359712 120,80.0359712 L114.910072,80.0359712 L114.910072,107.715827 L10.0899281,107.715827 L10.0899281,80.0359712 Z M8,42.5179856 C10.7614237,42.5179856 13,40.2633045 13,37.4820144 C13,34.7007243 10.7614237,32.4460432 8,32.4460432 C5.23857625,32.4460432 3,34.7007243 3,37.4820144 C3,40.2633045 5.23857625,42.5179856 8,42.5179856 Z M9.89208633,-4.97379915e-14 L115.107914,-4.97379915e-14 L115.107914,25.1798561 L9.89208633,25.1798561 L9.89208633,-4.97379915e-14 Z M15.0899281,57.3561151 L15.0899281,102.715827 L109.910072,102.715827 L109.910072,57.3561151 L15.0899281,57.3561151 Z" id="Combined-Shape"></path>
        </g>
    </g>
</svg>

            Print this page</a>

        </div> -->

        <div id="boxshadow">
          <img src="/images/letter.jpg" alt="Patient booking instructions">
        </div>
      </div>
    </div>

  </div>


  <!--ENTIRE GRID -->
</div>


{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">

      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
