// Import NHS.UK frontend library


@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/autocomplete';
@import 'components/inputs';
@import 'components/menu';
@import 'components/alerts';
@import 'components/tables';
@import 'components/lists';

@import 'components/boxshadow';

// Add your extra styles here...

table td{
  cursor:default;
  a{
    cursor: pointer;
  }
}
.nhsuk-button--ers{
  @extend .nhsuk-button;
  padding:4px 16px;
  font-size: 18px;
}

.nhsuk-button--ers_secondary {
  @extend .nhsuk-button--ers;
  background-color: #425563;
  box-shadow: 0 4px 0 #232e35; }
  .nhsuk-button--ers_secondary:hover, .nhsuk-button--ers_secondary:focus {
    background-color: #384854; }
  .nhsuk-button--ers_secondary.nhsuk-button--ers_disabled {
    background-color: #425563; }

.nhsuk-header__transactional-service-name{
  padding-left: 20px;
}
.inline{
  display: flex;
  flex-wrap: nowrap;
}


@mixin nhsuk-width-container-fluid {
  margin: 0 $nhsuk-gutter-half;
  max-width: 100%; /* [5] */
}

.nhsuk-width-container-fluid {
  @include nhsuk-width-container-fluid;
}

.nhsuk-white-background{
  background-color: $color_nhsuk-white;
}

.nhsuk-grey-background{
  background-color: $color_nhsuk-grey-5;
  border-bottom:1px solid #AEB7BD;

}
.grey-border {
  border-color: $color_nhsuk-black;

}
.full-width {
  width: 100%;
}

div input[type=checkbox]::before, input[type=radio]::before{
  width: 25px;
  height:25px;
  border: 2px solid red;
}

.nhsuk-sub-menu{
display: flex;
justify-content: space-between;
width: 100%;
}

.nhsuk-tag {

  background-color: $color_nhsuk-white;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 4px 8px;
  margin-left: 8px;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;


}
.nhsuk-tag__success{
    @extend .nhsuk-tag;
  border-color: $color_nhsuk-green;
  color: $color_nhsuk-green;
}

.nhsuk-tag__warning{
    @extend .nhsuk-tag;
  border-color: $color_nhsuk-red;
  color: $color_nhsuk-red;
}
.nhsuk-tag__default{
  @extend .nhsuk-tag;
  color: $color_nhsuk-grey-1;
  border-color:$color_nhsuk-grey-1;
}
.nhsuk-tag__highlight{
color: $color_nhsuk-warm-yellow;
border-color: $color_nhsuk-warm-yellow;
}



// OTHER TABLE ELEMENTS
.nhsuk-table {
.nhsuk-select {
  border: none;

}
}

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  white-space: nowrap;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus,
[aria-sort] button:hover:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
    white-space: nowrap;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}
