// Import NHS.UK frontend library


@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

// Add your extra styles here...

@mixin nhsuk-width-container-fluid {
  margin: 0 $nhsuk-gutter-half;
  max-width: 100%; /* [5] */
}

.nhsuk-width-container-fluid {
  @include nhsuk-width-container-fluid;
}

.nhsuk-white-background{
  background-color: $color_nhsuk-white;
}

.nhsuk-grey-background{
  background-color: $color_nhsuk-grey-5;

}
.grey-border {
  border-color: $color_nhsuk-black;

}
.full-width {
  width: 100%;
}

div input[type=checkbox]::before, input[type=radio]::before{
  width: 25px;
  height:25px;
  border: 2px solid red;
}

.nhsuk-sub-menu{
display: flex;
justify-content: space-between;
width: 100%;
}

.nhsuk-tag {
  background-color: $color_nhsuk-aqua-green;
  color: $color_nhsuk-white;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 4px 8px;
  margin-left: 8px;

}
.nhsuk-tag__warning{
  @extend .nhsuk-tag;
  background-color: $color_nhsuk-red;
}
// ==========================================================================
// COMPONENTS / AUTOSEARCH
// ==========================================================================

.autocomplete__wrapper {
  position: relative;
}

.autocomplete__hint,
.autocomplete__input {
  @extend .nhsuk-input;
}

.autocomplete__input {
  // background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  color: $color_nhsuk-grey-2;
  position: absolute;
}

.autocomplete__input--default{
  padding: 4px;
}

.autocomplete__input--focused {
  outline-offset: 0;
  outline: 3px solid #ffbf47;
}

.autocomplete__input--show-all-values {
  padding: 4px 34px 4px 4px;
  cursor: pointer;
}

.autocomplete__dropdown-arrow-down{
  z-index: 0;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 12px;
}

.autocomplete__menu {
  background-color: #fff;
  border: 1px solid $color_nhsuk-grey-5;
  border-top: 0;
  color: $color_nhsuk-black;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100%);
  border-radius: 0;
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  border-bottom: solid #BFC1C3;
  background-color: #fff;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color:#fff ;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: white;
  border-color: black;
  color: #212b32;
  outline: none;
  text-decoration-color: yellow;
}

.autocomplete__option--no-results {
  background-color:#fff ;
  color: #646b6f;
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  line-height: 1.5;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 4px;
}

@media (min-width: 641px) {
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.autocomplete__input:focus {
      border: 2px solid $nhsuk-form-border-color;
      }


.autocomplete__dropdown-arrow-down {
  @include mq($until: tablet) {
    display: none;
  }
}


// TABLE CHECKBOXES

.multiple-choice--hod {
  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
  }
  .nhsuk-checkboxes__label {
    padding: 3px 2px 5px;
  }

  .nhsuk-checkboxes__item {
    margin-bottom: 0;
  }
}

.multiple-choice--hod [type=checkbox] + label::before {
  width: 25px;
  height: 25px;
}

.multiple-choice--hod [type=checkbox] + label::after {
  border-width: 0 0 3px 3px;
  width: 11px;
  height: 4px;
  top: 8px;
  left: 6px;
}

@media screen and (max-width: 640px) {
  .multiple-choice--hod {
    .multiple-choice {
      margin-bottom: 15px;
      padding-top: 4px;
    }
  }
  .-checkboxes__label {
    padding: 7px 6px 3px;
  }
}

.nhsuk-table-clickable tbody tr:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

$selected-colour: #FFECC7;

.nhsuk-table-clickable tbody tr.checked {
  background-color: #FFECC7;
}

.nhsuk-table-clickable tbody tr.checked:hover {
  background-color: darken(#FFECC7, 5%);
}

.nhsuk-table-clickable .multiple-choice--hod {
  padding: 0.9em 0 0 1.05263em;
  margin: 0;
}

.hidden{
  display: none;
}

// RADIOS

.multiple-choice--hod [type=radio] + label::before {
  width: 28px;
  height: 28px;
}

.multiple-choice--hod [type=radio] + label::after {
  border: 7px solid;
  top: 7px;
  left: 7px;
}


.multiple-choice--hod {
  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
  }
  .nhsuk-radios__label {
    padding: 3px 8px 5px;
  }

  .nhsuk-radios__item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  .multiple-choice--hod {
    .multiple-choice {
      margin-bottom: 15px;
      padding-top: 4px;
    }
  }
  .nhsuk-radios__label {
    padding: 7px 6px 3px;
  }
}

// OTHER TABLE ELEMENTS
.nhsuk-table {
.nhsuk-select {
  border: none;

}
}

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus,
[aria-sort] button:hover:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

dl{

  margin-bottom: 32px;
  padding:8px;
}
dl {
  dt{
      font-weight: bold;
    margin-bottom: 8px;
  }
  dd{
    margin-bottom:8px;
  }
}
