<select id="autoselect" name="autoselect">
  <option value=""></option><option id='Surgery - Not Otherwise Specified / Hernias'>Surgery - Not Otherwise Specified / Hernias</option>
  <option id='SNOMED Clinical Term'>SNOMED Clinical Term</option>
  <option id='Abdominal wall <strong>hernia</strong>procedure [procedure]'>Abdominal wall <strong>hernia</strong>procedure [procedure]</option>
  <option id='Bilateral inguinal <strong>hernia</strong>repair [procedure]'>Bilateral inguinal <strong>hernia</strong>repair [procedure] </option>
  <option id='Brain stem herniation [disorder]'>Brain stem herniation [disorder] </option>
  <option id='Colporrhaphy for repair of cystocele and rectocele [procedure] (Synonym)'>Colporrhaphy for repair of cystocele and rectocele [procedure] (Synonym) </option>
  <option id='Congenital cerebral <strong>hernia</strong>[disorder]'>Congenital cerebral <strong>hernia</strong>[disorder] </option>
  <option id='Congenital endaural <strong>hernia</strong>[disorder]'>Congenital endaural <strong>hernia</strong>[disorder] </option>
  <option id='Congenital hiatus <strong>hernia</strong>[disorder]'>Congenital hiatus <strong>hernia</strong>[disorder] </option>
  <option id='Cystocele [disorder]'>Cystocele [disorder]</option>
  <option id='Cystocele affecting obstetric care [disorder]'>Cystocele affecting obstetric care [disorder]</option>
  <option id='Cystocele with first degree uterine prolapse [disorder]'>Cystocele with first degree uterine prolapse [disorder] </option>
  <option id='Cystocele with second degree uterine prolapse [disorder]'>Cystocele with second degree uterine prolapse [disorder] </option>
  <option id='Cystocele with third degree uterine prolapse [disorder]'>Cystocele with third degree uterine prolapse [disorder] </option>
  <option id='Cystocele with unspecified uterine prolapse [disorder]'>Cystocele with unspecified uterine prolapse [disorder] </option>
  <option id='Cystocele without uterine prolapse [disorder]'>Cystocele without uterine prolapse [disorder] </option>
  <option id='Diaphragmatic <strong>hernia</strong>[disorder]'>Diaphragmatic <strong>hernia</strong>[disorder] </option>
  <option id='Endoscopic primary repair of inguinal <strong>hernia</strong>[procedure]'>Endoscopic primary repair of inguinal <strong>hernia</strong>[procedure] </option>
  <option id='Epigastric <strong>hernia</strong>[disorder]'>Epigastric <strong>hernia</strong>[disorder] </option>
  <option id='Femoral <strong>hernia</strong>[disorder]'>Femoral <strong>hernia</strong>[disorder]</option>
  <option id='<strong>hernia</strong>of abdominal cavity [disorder]'><strong>hernia</strong>of abdominal cavity [disorder] </option>
  <option id='<strong>hernia</strong>of abdominal wall [disorder]'><strong>hernia</strong>of abdominal wall [disorder] </option>
  <option id='<strong>hernia</strong>of anterior abdominal wall [disorder]'><strong>hernia</strong>of anterior abdominal wall [disorder] </option>
  <option id='<strong>hernia</strong>of body cavity structure [disorder]'><strong>hernia</strong>of body cavity structure [disorder] </option>
  <option id='<strong>hernia</strong>repair [procedure]'><strong>hernia</strong>repair [procedure] </option>
  <option id='Herniated urinary bladder [disorder]'>Herniated urinary bladder [disorder]</option>
  <option id='Herniation of intervertebral disc [disorder] (Synonym)'>Herniation of intervertebral disc [disorder] (Synonym) </option>
  <option id='Herniation of nucleus pulposus [disorder]'>Herniation of nucleus pulposus [disorder] </option>
  <option id='Herniation of rectum into vagina [disorder]'>Herniation of rectum into vagina [disorder] </option>
  <option id='HH - Homonymous hemianopia [finding] (Synonym) '>HH - Homonymous hemianopia [finding] (Synonym) </option>
  <option id='Hiatal <strong>hernia</strong>[disorder]'>Hiatal <strong>hernia</strong>[disorder] </option>
  <option id='Incisional <strong>hernia</strong>[disorder]'>Incisional <strong>hernia</strong>[disorder] </option>
  <option id='Inguinal <strong>hernia</strong>[disorder]'>Inguinal <strong>hernia</strong>[disorder] </option>
  <option id='Intestinal <strong>hernia</strong>[disorder]'>Intestinal <strong>hernia</strong>[disorder] </option>
  <option id='Irreducible <strong>hernia</strong>of anterior abdominal wall [disorder] '>Irreducible <strong>hernia</strong>of anterior abdominal wall [disorder] </option>
  <option id='Ischiatic <strong>hernia</strong>[disorder]'>Ischiatic <strong>hernia</strong>[disorder] </option>
  <option id='Laparoscopic repair of hiatus <strong>hernia</strong>[procedure]'>Laparoscopic repair of hiatus <strong>hernia</strong>[procedure] </option>
  <option id='Laparoscopic repair of inguinal <strong>hernia</strong>[procedure]'>Laparoscopic repair of inguinal <strong>hernia</strong>[procedure] </option>
  <option id='Lumbar <strong>hernia</strong>[disorder]'>Lumbar <strong>hernia</strong>[disorder] </option>
  <option id='Obturator <strong>hernia</strong>[disorder] '>Obturator <strong>hernia</strong>[disorder] </option>
  <option id='Oesophageal hiatus <strong>hernia</strong>repair [procedure] '>Oesophageal hiatus <strong>hernia</strong>repair [procedure] </option>
  <option id='Oesophageal operation (including hiatus hernia) [procedure] (Synonym) '>Oesophageal operation (including hiatus hernia) [procedure] (Synonym) </option>
  <option id='Paraumbilical <strong>hernia</strong>[disorder] '>Paraumbilical <strong>hernia</strong>[disorder] </option>
  <option id='Perineal <strong>hernia</strong>[disorder] '>Perineal <strong>hernia</strong>[disorder] </option>
  <option id='Posterior vaginal <strong>hernia</strong>[disorder] (Synonym) '>Posterior vaginal <strong>hernia</strong>[disorder] (Synonym) </option>
  <option id='Primary laparoscopic repair of inguinal <strong>hernia</strong>[procedure] '>Primary laparoscopic repair of inguinal <strong>hernia</strong>[procedure] </option>
  <option id='Primary repair of femoral <strong>hernia</strong>[procedure] '>Primary repair of femoral <strong>hernia</strong>[procedure] </option>
  <option id='Primary repair of incisional <strong>hernia</strong>[procedure] '>Primary repair of incisional <strong>hernia</strong>[procedure] </option>
  <option id='Primary repair of incisional <strong>hernia</strong>using synthetic patch [procedure] '>Primary repair of incisional <strong>hernia</strong>using synthetic patch [procedure] </option>
  <option id='Primary repair of inguinal <strong>hernia</strong>[procedure] '>Primary repair of inguinal <strong>hernia</strong>[procedure] </option>
  <option id='Primary repair of inguinal <strong>hernia</strong>using sutures [procedure] '>Primary repair of inguinal <strong>hernia</strong>using sutures [procedure] </option>
  <option id='Primary repair of inguinal <strong>hernia</strong>using synthetic patch [procedure] '>Primary repair of inguinal <strong>hernia</strong>using synthetic patch [procedure] </option>
  <option id='Primary repair of umbilical <strong>hernia</strong>[procedure] '>Primary repair of umbilical <strong>hernia</strong>[procedure] </option>
  <option id='Primary repair of umbilical <strong>hernia</strong>using suture [procedure] '>Primary repair of umbilical <strong>hernia</strong>using suture [procedure] </option>
  <option id='Rectovaginal <strong>hernia</strong>[disorder] (Synonym)'>Rectovaginal <strong>hernia</strong>[disorder] (Synonym) </option>
  <option id='Repair of diaphragmatic <strong>hernia</strong>[procedure]'>Repair of diaphragmatic <strong>hernia</strong>[procedure] </option>
  <option id='Repair of femoral <strong>hernia</strong>[procedure]'>Repair of femoral <strong>hernia</strong>[procedure] </option>
  <option id='Repair of <strong>hernia</strong>of abdominal wall [procedure]'>Repair of <strong>hernia</strong>of abdominal wall [procedure] </option>
  <option id='Repair of incisional <strong>hernia</strong>[procedure] '>Repair of incisional <strong>hernia</strong>[procedure] </option>
  <option id='Repair of incisional <strong>hernia</strong>with prosthesis or graft [procedure] (Synonym) '>Repair of incisional <strong>hernia</strong>with prosthesis or graft [procedure] (Synonym) </option>
  <option id='Repair of inguinal <strong>hernia</strong>[procedure] '>Repair of inguinal <strong>hernia</strong>[procedure] </option>
  <option id='Repair of recurrent incisional <strong>hernia</strong>[procedure] '>Repair of recurrent incisional <strong>hernia</strong>[procedure] </option>
  <option id='Repair of recurrent inguinal <strong>hernia</strong>[procedure] '>Repair of recurrent inguinal <strong>hernia</strong>[procedure] </option>
  <option id='Repair of recurrent umbilical <strong>hernia</strong>[procedure] '>Repair of recurrent umbilical <strong>hernia</strong>[procedure] </option>
  <option id='Repair of umbilical <strong>hernia</strong>[procedure] '>Repair of umbilical <strong>hernia</strong>[procedure] </option>
  <option id='Repair of umbilical <strong>hernia</strong>with prosthesis [procedure] '>Repair of umbilical <strong>hernia</strong>with prosthesis [procedure] </option>
  <option id='Richter's femoral <strong>hernia</strong>[disorder] '>Richter's femoral <strong>hernia</strong>[disorder] </option><
  option id='Scrotal <strong>hernia</strong>[disorder] '>Scrotal <strong>hernia</strong>[disorder] </option>
  <option id='Simple excision of inguinal hernial sac [procedure] '>Simple excision of inguinal hernial sac [procedure] </option>
  <option id='Simple Spigelian <strong>hernia</strong>[disorder] '>Simple Spigelian <strong>hernia</strong>[disorder] </option>
  <option id='Spigelian <strong>hernia</strong>[disorder] '>Spigelian <strong>hernia</strong>[disorder] </option>
  <option id='Strangulated femoral <strong>hernia</strong>[disorder] '>Strangulated femoral <strong>hernia</strong>[disorder] </option>
  <option id='Umbilical <strong>hernia</strong>[disorder] '>Umbilical <strong>hernia</strong>[disorder] </option><option id='Uterine <strong>hernia</strong>[disorder] (Synonym) '>Uterine <strong>hernia</strong>[disorder] (Synonym) </option><option id='Vaginal <strong>hernia</strong>[disorder] '>Vaginal <strong>hernia</strong>[disorder] </option>
  <option id='Ventral incisional <strong>hernia</strong>[disorder]'>Ventral incisional <strong>hernia</strong>[disorder]</option>
  <option id='Named Clinician'>Named Clinician</option>
  <option id='Davis, Jonathan <strong>hernia</strong>(Mr)'>Davis, Jonathan <strong>hernia</strong>(Mr)</option></select>
