{% extends "layout.html" %}

{% set mainClasses = '' %}
{% set containerClasses = 'nhsuk-width-container-fluid' %}
{% set bodyClasses = 'nhsuk-white-background' %}
{% block pageScripts %}
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/auto.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/sort.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
{% endblock %}
{% block pageTitle %}
NHS e-referral Service
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container-fluid nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="search" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8"
            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
          </path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      </a>
    </div>
    <!-- END LOGO -->
    <!-- SERVICE NAME -->
    <div class="nhsuk-header__transactional-service-name">
      <a class="nhsuk-header__transactional-service-name--link" href="/">e-Referral Service</a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
          <ul class="nhsuk-header__navigation-list" style="border:0">
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/conditions/social-care-and-support/">
                Help
              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/news/">
                Alerts

              </a>
            </li>
            <li class="nhsuk-header__navigation-item">
              <a class="nhsuk-header__navigation-link" href="https://www.nhs.uk/service-search">
                Dave Evans
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

</header>
<!-- SUB MENU PATIENT INFO -->
<nav class="nhsuk-grey-background patient-info">
  <ul role="navigation">
    <li><span style=""><strong>UBRN: </strong> 3452 1007 6779</span></li>
    <li><strong>Patient: </strong><a href="Patient name">EVANS, David (Mr)</a></li>
    <li><strong>Gender: </strong> Male</li>
    <li>30 years (4 June 1988)</li>
  </ul>
</nav>
{% endblock %}
{% block content %}

<div class="nhsuk-grid-row nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="search-results">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to search results</a>
    </div>

    <h1 class="nhsuk-heading-m">Select an appointment</h1>
    <p class="nhsuk-body-s">These are the appointments available for the selected service.</p>

    <ul class="nhsuk-list">
      <li><strong><a class="toggleitbutton1" href="#">Spire Methley Park Hospital</a></strong>
    <br>Abdominal Wall Procedures (Not Otherwise Specified) - Spire Methley Park Hospital - NT350

    <div class="toggleitpanel1" style="display:none">
      <table class="nhsuk-table nhsuk-u-margin-top-0">
        <caption class="nhsuk-table__caption"></caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Date</th>
            <th class="nhsuk-table__header" scope="col">Time</th>
            <th class="nhsuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Thursday 4th <span class="nhsuk-tag__success">First available</span></td>
            <td class="nhsuk-table__cell ">9:00am</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Thursday 4th</td>
            <td class="nhsuk-table__cell ">15:00pm</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Friday 5th</td>
            <td class="nhsuk-table__cell ">9:00am</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Friday 5th</td>
            <td class="nhsuk-table__cell ">10:00am</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Friday 5th</td>
            <td class="nhsuk-table__cell ">11:00am</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Saturday 6th</td>
            <td class="nhsuk-table__cell ">9:00am</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday 6th</td>
            <td class="nhsuk-table__cell ">10:00am</td>
            <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
          </tr>
          <tr class="nhsuk-table__row">

            <td colspan="3" class="nhsuk-table__cell"><a href="">Load more</a></td>




          </tr>
        </tbody>
      </table>

    </div>

    </li>

</ul>
  <ul class="nhsuk-list">
    <li><strong><a href="#" class="toggleitbutton2">The Huddersfield BMI</a></strong><br>Adult NHS Hernia Repair Clinic - The Huddersfield - BMI - NT4
      <div class="toggleitpanel2" style="display:none">
        <table class="nhsuk-table nhsuk-u-margin-top-0">
          <caption class="nhsuk-table__caption"></caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Date</th>
              <th class="nhsuk-table__header" scope="col">Time</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday 4th <span class="nhsuk-tag__success">First available</span></td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday 4th</td>
              <td class="nhsuk-table__cell ">15:00pm</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">

              <td colspan="3" class="nhsuk-table__cell"><a href="">Load more</a></td>




            </tr>
          </tbody>
        </table>

      </div>

    </li>
    </ul>
      <ul class="nhsuk-list">
    <li><strong><a href="#" class="toggleitbutton3">One Health Group</a></strong><br>Adult NHS General Surgery - Hernia Clinic - One Health Group - Holmfirth (NTX26)

      <div class="toggleitpanel3" style="display:none">
        <table class="nhsuk-table nhsuk-u-margin-top-0">
          <caption class="nhsuk-table__caption"></caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Date</th>
              <th class="nhsuk-table__header" scope="col">Time</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday 4th <span class="nhsuk-tag__success">First available</span></td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday 4th</td>
              <td class="nhsuk-table__cell ">15:00pm</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday 5th</td>
              <td class="nhsuk-table__cell ">9:00am</td>
              <td class="nhsuk-table__cell "><a href="referral-review">Book appointment</a></td>
            </tr>
            <tr class="nhsuk-table__row">

              <td colspan="3" class="nhsuk-table__cell"><a href="">Load more</a></td>




            </tr>
          </tbody>
        </table>

      </div>
    </li>
    </ul>


      </div>
    </div>





{% endblock %}

{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container nhsuk-width-container-fluid">

      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}
