  <tbody class="nhsuk-table__body">

  <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Abdominal Wall Procedures (Not Otherwise Specified) - Spire Methley Park Hospital - NT350</td>
  <td class="nhsuk-table__cell">15 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">7 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Adult NHS Hernia Repair Clinic - The Huddersfield - BMI - NT4</td><td class="nhsuk-table__cell">15 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">11 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Adult NHS General Surgery - Hernia Clinic - One Health Group - Holmfirth (NTX26)</td><td class="nhsuk-table__cell">5 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">16 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Adult NHS Hernia RAS | Nuffield Health Leeds hospital | NT225 </td><td class="nhsuk-table__cell">16 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">2 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Hernia-Not Otherwise Specified-Leeds TH(St James's Hosp)-RR8 </td><td class="nhsuk-table__cell">Limited Capacity</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">3 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Hernias - Surgery (Not Otherwise Specified) - Spire Leeds Hospital - NT332 </td><td class="nhsuk-table__cell">15 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">5 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Hernia-Surgery Not Otherwise Specified-Dewsbury Hospital-RXF</td><td class="nhsuk-table__cell">Limited Capacity</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">5 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">GENERAL SURGERY OUTPATIENTS SHIPLEY</td><td class="nhsuk-table__cell">12 weeks</td><td class="nhsuk-table__cell">GI and Liver (Medicine and Surgery) </td><td class="nhsuk-table__cell">8 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">Adult Hernia Repair NHS Clinic - The Yorkshire Clinic - NVC</td><td class="nhsuk-table__cell">14 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">9 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">CHFT - MSK Hernia - Calderdale Royal Hospital- RWY</td><td class="nhsuk-table__cell">17 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">12 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">General Surgery RAS - Huddersfield Royal Infirmary RWY</td><td class="nhsuk-table__cell">23 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">12 miles</td></tr>
 <tr class="nhsuk-table__row"><td class="nhsuk-table__cell">General Surgery-Harrogate District Hospital (Harrogate Trust)-RCD</td><td class="nhsuk-table__cell">21 weeks</td><td class="nhsuk-table__cell">Surgery - Not Otherwise Specified </td><td class="nhsuk-table__cell">15 miles</td></tr>


</tbody>


<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Abdominal Wall Procedures (Not Otherwise Specified) - Spire Methley Park Hospital - NT350</th><th>15 weeks</th><th>Surgery - Not Otherwise Specified </th></tr></thead><tbody>
 <tr><td>Adult NHS Hernia Repair Clinic - The Huddersfield - BMI - NT4</td><td>15 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>Adult NHS General Surgery - Hernia Clinic - One Health Group - Holmfirth (NTX26)</td><td>5 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>Adult NHS Hernia RAS | Nuffield Health Leeds hospital | NT225 </td><td>16 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>Hernia-Not Otherwise Specified-Leeds TH(St James's Hosp)-RR8 </td><td>Limited Capacity</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>Hernias - Surgery (Not Otherwise Specified) - Spire Leeds Hospital - NT332 </td><td>15 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>Hernia-Surgery Not Otherwise Specified-Dewsbury Hospital-RXF</td><td>Limited Capacity</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>GENERAL SURGERY OUTPATIENTS SHIPLEY</td><td>12 weeks</td><td>GI and Liver (Medicine and Surgery) </td></tr>
 <tr><td>Adult Hernia Repair NHS Clinic - The Yorkshire Clinic - NVC</td><td>14 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>CHFT - MSK Hernia - Calderdale Royal Hospital- RWY</td><td>17 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>General Surgery RAS - Huddersfield Royal Infirmary RWY</td><td>23 weeks</td><td>Surgery - Not Otherwise Specified </td></tr>
 <tr><td>General Surgery-Harrogate District Hospital (Harrogate Trust)-RCD</td><td>21 weeks</td><td>Surgery - Not Otherwise Specified</td></tr>
</tbody></table>
