{% extends 'layout.html' %}

{% block beforeContent %}
{{ hero({
    "heading": "e Referral service",
    "text": "Style, patterns and components"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-top-5">

    <p class="nhsuk-body-l">
      The purpose of this design system is to document patterns and components specific to the
      e-Referral service.
    </p>


    <h2>Typography</h2>
    <p>Frutiger is the NHS brand font. Email the standards team at <a href="#">service-manual.net</a> for the desktop font.</p>

    <p>Body paragraph size is 19px as the baseline.For information dense components and patterns, such as tables, use 16px.
       Line height should always be 1.5 times the size of the font.</p>
       <h3>Fallback font</h3>
       <p>Fallback to Arial when Frutiger isn't available.</p>
      <p class="rich-text"><code>font-family: “Frutiger W01”, Arial, sans-serif;</code></p>

    <div class="styleguide-example">
      <p>This is paragraph text</p>
      <p><a href="#">This is a link</a></p>
      <h1 class="nhsuk-heading-l">This is a heading h1</h1>
      <h2 class="nhsuk-heading-m">This is a heading h2</h2>
      <h3 class="nhsuk-heading-s">This is a heading h3</h3>
      <h4>This is a heading h4</h4>
      <h5>This is a heading h5</h5>

    </div>

    <h2>Components</h2>
      <h3>Alerts</h3>

    <div class="styleguide-example">


      <div class="panel panel-border-wide alert-default">
          <h1 class="nhsuk-heading-s">

            Check these details before you continue
        </h1>


        </div>

        <div class="panel panel-border-wide alert-success">
            <h1 class="nhsuk-heading-s">
The request was created successfully

          </h1>


          </div>

    </div>



  <h3>Buttons</h3>
    <div class="styleguide-example">


      <a class="nhsuk-button--ers" href="#">Primary button</a>
      <a class="nhsuk-button--ers_secondary" href="#">Secondary button</a>

    </div>
    <h3>Labels</h3>
    <div class="styleguide-example">

      <span class="nhsuk-tag__default">Triage only</span>
          <span class="nhsuk-tag__success">Good capacity</span>
              <span class="nhsuk-tag__warning">Limited capacity</span>


    </div>
  <h3>Patient header</h3>
    <div class="styleguide-example">




      <header class="nhsuk-header" role="banner">
        <div class="nhsuk-width-container-fluid nhsuk-header__container">
          <div class="nhsuk-header__logo">
            <a class="nhsuk-header__link" href="search" aria-label="Back to search">
              <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
                <path fill="#fff" d="M0 0h40v16H0z"></path>
                <path fill="#005eb8"
                  d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                </path>
                <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
              </svg>
            </a>
          </div>
          <!-- END LOGO -->

          <!-- SERVICE NAME -->
          <div class="nhsuk-header__transactional-service-name">
            <a class="nhsuk-header__transactional-service-name--link" href="/">e-Referral Service</a>
          </div>

          <div class="nhsuk-header__content" id="content-header">
            <div class="nhsuk-header__menu">
              <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
                <ul class="nhsuk-header__navigation-list" style="border:0">
                  <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/search">
                      Help
                    </a>
                  </li>
                  <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/search">
                      Alerts

                    </a>
                  </li>
                  <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href=/search"> Dave Evans </a> </li> </ul> </nav> </div> </div> </div> </header> <!-- SUB MENU PATIENT INFO -->

                      <nav class="nhsuk-grey-background patient-info">
                        <ul role="navigation">
                          <li><span style=""><strong>UBRN: </strong> 3452 1007 6779</span></li>
                          <li>Patient: <a href="#">EVANS, David (Mr) <svg class="nhsuk-icon nhsuk-icon__arrow-down nhsuk-icon--ers" viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true">

                                <g id="Arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <polygon id="Rectangle" fill="#415563" fill-rule="nonzero" transform="translate(75.000000, 75.000000) rotate(45.000000) translate(-75.000000, -75.000000) " points="75 75 97 53 97 97 53 97"></polygon>
                                </g>
                              </svg></a></li>
                          <li><strong>Gender: </strong> Male</li>
                          <li>30 years (4 June 1988)</li>
                        </ul>
                      </nav>

    </div>

    <h3>Tabs</h3>
    <div class="styleguide-example">

      <nav class="nhsuk-tabs">
        <ul role="navigation">
          <li><a href="#">Patients</a></li>
          <li><a href="#">Worklists</a></li>
          <li><a href="#">Directory of services</a></li>
          <li><a href="#">Enquiries</a></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </nav>

    </div>

          <h3>Sidebar</h3>


                    <div class="styleguide-example">



                      <div class="nhsuk-sidebar">
                    
                        <nav class="nhsuk-sidebar-actions">
                          <ul>

                            <li><a href="#">Email the instructions <svg class="nhsuk-icon nhsuk-icon__chevron-right .nhsuk-icon--ers" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg></a></li>
                            <li><a href="#">Print the instructions <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg></a></li>
                            <li><a href="#">Manage this referral  <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg></a></li>
                          </ul>

                        </nav>

                      </div>





                    </div>

                      <h3>Table multi select</h3>
                    <div class="styleguide-example">

                      <div class="nhsuk-table-responsive">
                        <table id="sortable" class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable">

                          <!-- TABLE START -->
                          <thead class="nhsuk-table__head">
                            <tr class="nhsuk-table__row">
                              <th class="nhsuk-table_header"></th>
                              <th class="nhsuk-table__header" aria-sort="none" scope="col">
                                <button onclick="sortTable()" type="button" data-index="0">Service name</button>


                              </th>

                              <th class="nhsuk-table__header" aria-sort="none" scope="col">
                                <button type="button" data-index="0">Distance</button>

                              </th>

                              <th class="nhsuk-table__header" aria-sort="none" scope="col">
                                <button onclick="sortTable()" type="button" data-index="0">Next appointment</button>


                              </th>


                            </tr>
                          </thead>


                          <tbody class="nhsuk-table__body">
                            <tr class="nhsuk-table__row">
                              <td class="nhsuk-table__cell multiple-choice--hod">

                                <div class="nhsuk-checkboxes__item">
                                  <input type="checkbox" class="nhsuk-checkboxes__input jsCheckbox" id="radio-1">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="radio-1">
                                    &nbsp;
                                  </label>
                                </div>
                              </td>
                              <td class="nhsuk-table__cell">
                                <a>St Jame's University Hospital</a> <span class="nhsuk-tag__warning">Limited capacity</span>
                                <br>
                                <span>Hernia-Not Otherwise Specified Leeds TH(St James's Hosp)-RR8</span></td>
                              <td class="nhsuk-table__cell">3 miles</td>
                              <td class="nhsuk-table__cell">None</td>
                            </tr>
                            <tr class="nhsuk-table__row">
                              <td class="nhsuk-table__cell multiple-choice--hod">

                                <div class="nhsuk-checkboxes__item">
                                  <input type="checkbox" class="nhsuk-checkboxes__input jsCheckbox" id="radio-1">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="radio-1">
                                    &nbsp;
                                  </label>
                                </div>
                              </td>
                              <td class="nhsuk-table__cell toggleitbutton2">
                                <a class="">Spire Leeds Hospital</a> <span class="nhsuk-tag__default">Telephone appointments</span>
                                <br>
                                <span>Hernias - Surgery (Not Otherwise Specified) Spire Leeds Hospital - NT332</span>
                                <div class="toggleitpanel2" style="display:none">
                                  <p class="nhsuk-body-s">METHLEY LANE, LEEDS, WEST YORKSHIRE, LS26 9HG <br>
                                    Phone: 0113 242 5544 Email: enquiries@spire.nhs.net</p>

                                    <dl class="nhsuk-body-s">
                                      <dt>Referrer alerts</dt>
                                      <dd>Please read 'exclusions' section prior to referral</dd>
                                    </dl>

                                  <dl class="nhsuk-body-s">
                                    <dt>Conditions</dt>
                                    <dd>Diagnosis & treatment of abdominal wall lesions</dd>
                                    <dt>Exclusions</dt>
                                    <dd>Service Users under the age of 18.
                                      Any Service User with an ASA (American Society of Anaesthesiologists) score of 3 (who is unstable), unless the appropriate Critical Care facilities that meet the levels of Critical Care for Adult Patients Standards and Guidelines
                                      (Intensive Care Society 2002) are available.
                                    </dd>
                                    <dd>
                                      Where the Service Users will require general anaesthetic and the patient has a Body Mass Index greater than 35.
                                      Service Users with suspected cancer, who should be referred directly on to the appropriate cancer pathway.
                                      Service Users who have a current and significantly unstable psychiatric disorder where the Hospital cannot reasonably be expected to accommodate the patient’s needs.</dd>
                                  </dl>


                                  <dl class="nhsuk-body-s">
                                    <dt>Procedures</dt>
                                    <dd>Suture of anterior abdominal wall
                                      Other repair of anterior abdominal wall
                                      Excision umbilicus
                                      Excision urachus
                                      Extirpation of lesion of umbilicus
                                      Biopsy of lesion of umbilicus

                                      Excision of fistula of umbilicus

                                      Operations on umbilicus

                                      Biopsy of lesion of anterior abdominal wall
                                      Drainage of anterior abdominal wall

                                      Removal of foreign body from anterior abdominal wall
                                      Other operation on anterior abdominal wall...</dd>

                                  </dl>
                                  <a class="nhsuk-link toggleitbutton2" href="#" role="button" draggable="false">Close</a>

                                </div>


                              </td>
                              <td class="nhsuk-table__cell">4 miles</td>
                              <td class="nhsuk-table__cell">None</td>


                            </tr>
                            <tr class="nhsuk-table__row">
                              <td class="nhsuk-table__cell multiple-choice--hod">

                                <div class="nhsuk-checkboxes__item">
                                  <input type="checkbox" class="nhsuk-checkboxes__input jsCheckbox" id="radio-1">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="radio-1">
                                    &nbsp;
                                  </label>
                                </div>
                              </td>
                              <td class="nhsuk-table__cell">
                                <a>Dewsbury and District Hospital</a> <span class="nhsuk-tag__warning">Limited capacity</span>
                                <br>
                                <span>Hernia-Surgery Not Otherwise Specified Dewsbury Hospital-RXF</span></td>
                              <td class="nhsuk-table__cell">5 miles</td>
                              <td class="nhsuk-table__cell">none</td>
                            </tr>
                            <tr class="nhsuk-table__row">
                              <td class="nhsuk-table__cell multiple-choice--hod">

                                <div class="nhsuk-checkboxes__item">
                                  <input type="checkbox" class="nhsuk-checkboxes__input jsCheckbox" id="radio-1">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="radio-1">
                                    &nbsp;
                                  </label>
                                </div>
                              </td>
                              <td class="nhsuk-table__cell"><a>Westcliffe Health - Shipley MP</a><br><span>General Surgery Outpatients Shipley</span></td>
                              <td class="nhsuk-table__cell">8 miles</td>
                              <td class="nhsuk-table__cell">none</td>

                            </tr>

                            <tr class="nhsuk-table__row">
                              <td class="nhsuk-table__cell multiple-choice--hod">

                                <div class="nhsuk-checkboxes__item">
                                  <input type="checkbox" class="nhsuk-checkboxes__input jsCheckbox" id="radio-1">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="radio-1">
                                    &nbsp;
                                  </label>
                                </div>
                              </td>
                              <td class="nhsuk-table__cell"><a>The Yorkshire Clinic</a><br><span>Adult Hernia Repair NHS Clinic - The Yorkshire Clinic - NVC</span>
                              </td>
                              <td class="nhsuk-table__cell">9 miles</td>
                              <td class="nhsuk-table__cell">Ring to book</td>
                            </tr>

                          </tbody>
                        </table>
                        <br>
                        <p class="align-centre"><a class="nhsuk-button--ers_secondary" href="#">Load 10 more results</a></p>
                      </div>




                    </div>

                    <h2>Patterns</h2>
                    <p>Patterns have not yet been developed.</p>

          </div>
        </div>

        {% endblock %}


        {% block footer %}
        <footer role="contentinfo">
          <div class="nhsuk-footer" id="nhsuk-footer">
            <div class="nhsuk-width-container nhsuk-width-container-fluid">

              <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
            </div>
          </div>
        </footer>
        {% endblock %}
