
// ==========================================================================
// COMPONENTS / INPUTS
// ==========================================================================

// ===================================
// DEAL WITH SMALL VERSIONS FIRST
// ===================================

.nhsuk-checkboxes--s .nhsuk-checkboxes__label{
  margin-top: -2px;
  float: left;
  padding:11px 15px 10px 1px;
  :before{
    top: 8px;
    width: 24px;
    height: 24px;
  }
}
.nhsuk-checkboxes--s .nhsuk-checkboxes__label::before {
    top: 8px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }

  .nhsuk-checkboxes--s .nhsuk-checkboxes__label::after {
    opacity: 1;
      content: "";
      display:block;
      clear: both;
      position: absolute;
      top: 15px;
      left: 6px;
      height: 5px;
      width: 11px;
      border-width: 0 0 3px 3px;

    }

.nhsuk-checkboxes--s .nhsuk-checkboxes__input{
  left: -10px;
}
.nhsuk-checkboxes--s .nhsuk-checkboxes__item{
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left;
}


.sidebar .nhsuk-label{
font-size: 16px !important;
}
// MULTI SELECT

.multiple-choice--hod {
  .multiple-choice {
    padding-top: 1px;
    padding-bottom: 2px;
    .nhsuk-checkboxes__label{
      padding: 0 !important;
    }
  }
  .-checkboxes__label {
    padding: 3px 2px 5px;
  }

  .nhsuk-checkboxes__item {
    margin-bottom: 0;
  }
}

.multiple-choice--hod [type=checkbox] + label::before {
  width: 25px;
  height: 25px;
}

.multiple-choice--hod [type=checkbox] + label::after {
  border-width: 0 0 3px 3px;
  width: 11px;
  height: 4px;
  top: 8px;
  left: 6px;
}

@media screen and (max-width: 640px) {
  .multiple-choice--hod {
    .multiple-choice {
      margin-bottom: 15px;
      padding-top: 4px;
    }
  }
  .nhsuk-checkboxes__label {
    padding: 7px 6px 3px;
  }
}

// TABLES

.nhsuk-table-clickable tbody tr:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

$selected-colour: #FFECC7;

.nhsuk-table-clickable tbody tr.checked {
  background-color: #FFECC7;
}

.nhsuk-table-clickable tbody tr.checked:hover {
  background-color: darken(#FFECC7, 5%);
}

.nhsuk-table-clickable .multiple-choice--hod {
  padding-top:16px;
  margin: 0;
  vertical-align: top;
}

.hidden{
  display: none;
}

// RADIOS

.multiple-choice--hod [type=radio] + label::before {
  width: 28px;
  height: 28px;
}

.multiple-choice--hod [type=radio] + label::after {
  border: 7px solid;
  top: 7px;
  left: 7px;
}


.nhsuk-radios--s .nhsuk-radios__input{
  left: -10px;
}

.nhsuk-radios--s .nhsuk-radios__item{
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left;
}

.nhsuk-radios--s .nhsuk-radios__label{
  padding: 11px 15px 10px 1px;
  margin-top: -2px;
  float: left;
}

  .nhsuk-radios--s .nhsuk-radios__label::before{
    top:8px;
    width: 24px;
    height: 24px;
  }
  .nhsuk-radios--s .nhsuk-radios__label::after{
    top: 15px;
    left: 7px;
    border-width: 5px;
  }
