
// ==========================================================================
// TABS /
// ==========================================================================

// ========================
// TABLE TABS
// ========================
.nhsuk-tabs-container{
  position:relative;
   margin:0 auto;
   overflow-x:auto;
   height:200px;
   overflow-y: visible;
}
.list{
  position:relative;
    left:0px;
    top:0px;
  	min-width:2000px;
    margin-top:0px;
}
nav.nhsuk-tabs--l{

  ul{
    margin: 0;
    padding: 0;

  }
  li{
    display: inline-grid;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
    margin: 16px;
    flex-basis:auto;
    max-width: 215px;
    min-width: 215px;
    min-height: 115px;
    background: $color_nhsuk-grey-5;
    text-align:left;
    font-size: 16px;
    line-height: 16px;

    a{
      display: inline-block;
      color: $color_nhsuk-black;
      padding: 8px 8px 0 8px;
    }
    span{
      padding: 8px 0;
      margin: 0;
      font-weight: 900;
    }
    .tag{
      background: $color_nhsuk-red;
      padding: 4px 8px;
      color: $color_nhsuk-white;
      border-radius: 12px;
    }
  }
}
li.active{
  border-bottom: 6px solid $color_nhsuk-blue !important;

}
nav.nhsuk-tabs{
  display: flex;
  height: 48px;
  flex-wrap: nowrap;
  background: #F0F4F5;
  border-bottom: 1px solid $color_nhsuk-grey-2;

ul{
  max-width: 75%;
  display:flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;


}
li{
  margin-bottom: 0;
  font-size: 16px;
  border-right:1px solid $color_nhsuk-grey-2;

  a:link, a:visited,a:hover, a:active{
    margin-bottom: 0;
    color:$color_nhsuk-blue;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1.5em;
    padding: 12px 16px;
    text-decoration: none;


  }
}

}

// END TABS


nav.nhsuk-tabs > ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav.nhsuk-tabs > ul > li
{
  display: inline;
  padding: 0;
  margin: 0;
}

nav.nhsuk-tabs > ul > li > a
{
  text-decoration: none;
  color: #000;
  padding: 20px;
}

nav.nhsuk-tabs > ul > li > a:hover
{
  background-color:#ccc;
}

nav.nhsuk-tabs > ul > li > a.selected
{
  background-color: #fff;
}

.tab
{
  display: none;
  margin-top: 10px;
  padding: 20px;
}

.tab.active
{
  display: block;
}
