.dropbtn {
  @extend .nhsuk-button;
  padding:4px 16px;
  font-size: 18px;
  font-weight: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 38px;
  background-color:$color_nhsuk-white;
  min-width:300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 200;
  right: 0;
}

.dropdown-content a {
  color: $color_nhsuk-blue;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
  width: 100%;
  vertical-align: middle;
  border-top: 1px solid $color_nhsuk-grey-5;

}

.dropdown a:hover {background-color:$color_nhsuk-yellow;}

.show {display: block;}
