<!DOCTYPE html>
<html>
    <head>
        <link href="/images/summary/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
          <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <!-- Anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',1000,
    {'GTM-N4H6NSC':true});</script>

        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4H6NSC');</script>
    <!-- End Google Tag Manager -->
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="v5historyhistoryincomplete"/>
        <div class="v5historyhistoryincomplete">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="patientheader">
                    <div class="background">
                    </div>
                    <div class="logoandaccountheader">
                        <div class="rectanglecopy1">
                        </div>
                        <div class="nhslogo">
                            <div class="rectangle1">
                            </div>
                            <img anima-src="/images/summary/v5-external-view-referral-letter-nhs-rev@2x.png" class="nhsrev" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="ereferralservice">
                            e-Referral Service
                        </div>
                    </div>
                    <div class="group">
                        <img anima-src="/images/summary/v5-booked-confirm-untest-rectangle-copy@2x.png" class="rectanglecopy1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="/images/summary/v5-history-history-incomplete--triangle@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="profile">
                            <div class="background1">
                            </div>
                            <img anima-src="/images/summary/v5-booked-confirm-untest-combined-shape@2x.png" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="altafnoor">
                            Altaf, Noor
                        </div>
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-rectangle-copy-3@2x.png" class="rectanglecopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="/images/summary/v5-history-history-incomplete--rectangle-copy-1@2x.png" class="rectanglecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="help">
                        Help
                    </div>
                    <div class="alerts">
                        Alerts
                    </div>
                    <div class="message">
                        <img anima-src="/images/summary/v5-external-service-screen-rejected-mail32@2x.png" class="mail32" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="alertnumber">
                        <img anima-src="/images/summary/v5-booked-main-untest-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a1">
                            1
                        </div>
                    </div>
                    <img anima-src="/images/summary/v5-booked-confirm-untest-rectangle-4.png" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="patientinformation">
                        <img anima-src="/images/summary/v5-history-history-incomplete--ubrn.png" class="ubrn" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="a56years4jun1962">
                        56 years (4 Jun 1962)
                    </div>
                    <img anima-src="/images/summary/v5-incomplete-main-line.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="patientinfo">
                        <div class="patient">
                            Patient:
                        </div>
                        <div class="davisjohnmr">
                            SMITH, Howard (Mr)
                        </div>
                        <img anima-src="/images/summary/v5-incomplete-flyout-triangle-copy-3@2x.png" class="trianglecopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="gendermale">
                        <span class="span1">Gender:</span><span class="span2"> Male     </span>
                    </div>
                    <div class="info">
                    </div>
                </div>
                <div class="referralhistory">
                    <a href="https://vibrant-mclean-37b45f.netlify.com/index-2.html">Referral history</a>
                </div>
                <div class="backlinkdesktop">
                    <div class="background">
                    </div>
                    <div class="label">
                        Back to summary screen
                    </div>
                    <div class="iconchevronleft">
                        <img anima-src="/images/summary/v5-incomplete-main-icon-chevron-left@2x.png" class="iconchevronleft1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <a href="v5incompletemain">
                        <div class="hotspot">
                        </div>
                    </a>
                </div>
                <div class="rectangle">
                </div>
                <div class="incomplete">
                    INCOMPLETE
                </div>
                <img anima-src="/images/summary/v5-history-history-incomplete--line-copy.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="/images/summary/v5-history-history-incomplete--line-copy-1.png" class="linecopy1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="addreferralletter">
                    Add Referral Letter
                </div>
                <div class="byroleorganisati">
                    By: <br />Role: <br />Organisation: <br />
                </div>
                <div class="paxtongreengroupp">
                    Paxton Green Group Practice
                </div>
                <div class="referringclinician">
                    Referring Clinician
                </div>
                <div class="drlizbarfield">
                    Dr Liz Barfield
                </div>
                <div class="ubrnissued">
                    UBRN Issued
                </div>
                <div class="a2april1451">
                    2 April 14:51
                </div>
                <div class="byroleorganisaticopy2">
                    By: <br />Role: <br />Organisation: <br />
                </div>
                <div class="paxtongreengroupp1">
                    Paxton Green Group Practice
                </div>
                <div class="referringclincian">
                    Referring Clincian
                </div>
                <div class="drlizbarfield1">
                    Dr Liz Barfield
                </div>
                <div class="a2april1505">
                    2 April 15:05
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
