<!DOCTYPE html>
<html>
    <head>
        <link href="/images/summary/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440, maximum-scale=1.0" name="viewport"/>
          <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <!-- Anti-flicker snippet (recommended)  -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',1000,
    {'GTM-N4H6NSC':true});</script>

        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4H6NSC');</script>
    <!-- End Google Tag Manager -->
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="v5externalservicescreenrejected"/>
        <div class="v5externalservicescreenrejected">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="patientheader">
                    <div class="background">
                    </div>
                    <div class="logoandaccountheader">
                        <div class="rectanglecopy1">
                        </div>
                        <div class="nhslogo">
                            <div class="rectangle2">
                            </div>
                            <img anima-src="/images/summary/v5-external-view-referral-letter-nhs-rev@2x.png" class="nhsrev" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="ereferralservice">
                            e-Referral Service
                        </div>
                    </div>
                    <div class="group">
                        <img anima-src="/images/summary/v5-booked-confirm-untest-rectangle-copy@2x.png" class="rectanglecopy1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="/images/summary/v5-history-history-incomplete--triangle@2x.png" class="triangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="profile">
                            <div class="background1">
                            </div>
                            <img anima-src="/images/summary/v5-booked-confirm-untest-combined-shape@2x.png" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="altafnoor">
                            Altaf, Noor
                        </div>
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-rectangle-copy-3@2x.png" class="rectanglecopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="/images/summary/v5-history-history-incomplete--rectangle-copy-1@2x.png" class="rectanglecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="help">
                        Help
                    </div>
                    <div class="alerts">
                        Alerts
                    </div>
                    <div class="message">
                        <img anima-src="/images/summary/v5-external-service-screen-rejected-mail32@2x.png" class="mail32" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="alertnumber">
                        <img anima-src="/images/summary/v5-booked-main-untest-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="a1">
                            1
                        </div>
                    </div>
                    <img anima-src="/images/summary/v5-booked-confirm-untest-rectangle-4.png" class="rectangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="patientinformation">
                        <img anima-src="/images/summary/v5-external-view-referral-letter-ubrn.png" class="ubrn" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="a56years4jun1962">
                        56 years (4 Jun 1962)
                    </div>
                    <img anima-src="/images/summary/v5-incomplete-main-line.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="patientinfo">
                        <div class="patient">
                            Patient:
                        </div>
                        <div class="davisjohnmr">
                            <span class="span1">DAVIS, John (Mr)</span><span class="span2">         </span>
                        </div>
                        <img anima-src="/images/summary/v5-incomplete-flyout-triangle-copy-3@2x.png" class="trianglecopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="gendermale">
                        <span class="span1">Gender:</span><span class="span2"> Male     </span>
                    </div>
                    <div class="info">
                    </div>
                </div>
                <div class="referrer">
                    Referrer
                </div>
                <div class="service">
                    Service
                </div>
                <div class="referraldetails">
                    Referral Details
                </div>
                <div class="rectangle">
                </div>
                <div class="rejected">
                    REJECTED
                </div>
                <div class="reasoncomments">
                    <span class="span1">Reason:</span><span class="span2"> <br /></span><span class="span3">Comments:</span><span class="span4"> </span>
                </div>
                <div class="inappropriateservic">
                    Inappropriate service
                </div>
                <div class="referralinappropria">
                    Referral inappropriate for this type of service. Please book into an alternative service.
                </div>
                <img anima-src="/images/summary/v5-rejected-main-untest-line-3.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="tableaddrequirements">
                    <div class="background">
                    </div>
                    <div class="group">
                        <div class="additionalrequireme">
                            Additional requirements
                        </div>
                        <div class="addrequirement">
                            Add requirement
                        </div>
                        <div class="tableheader">
                            <div class="background1">
                            </div>
                            <div class="group6">
                                <div class="tableheadercopy5">
                                    Description
                                </div>
                            </div>
                            <div class="group6copy">
                                <div class="tableheadercopy5">
                                    Status
                                </div>
                                <div class="tableheadercopy6">
                                    Comments
                                </div>
                            </div>
                            <div class="group1">
                                <div class="tableheader1">
                                    Type
                                </div>
                            </div>
                            <img anima-src="/images/summary/v5-worklist-letters-outstanding-line-copy-4.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="tablerownolink">
                            <div class="background1">
                            </div>
                            <div class="tabletablerow">
                                <div class="description">
                                    Spanish translator <br> required
                                </div>
                                <div class="status">
                                    Booked
                                </div>
                                <div class="comments">
                                    None
                                </div>
                                <div class="type">
                                    Interpreter
                                </div>
                                <img anima-src="/images/summary/v5-worklist-letters-outstanding-line-copy-4.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iconclose">
                                <img anima-src="/images/summary/v5-external-service-screen-rejected-icon-close@2x.png" class="iconclose1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablereferralletter">
                    <div class="background">
                    </div>
                    <div class="group2">
                        <div class="referralletter">
                            Referral letter
                        </div>
                        <div class="addanattachment">
                            Add an attachment
                        </div>
                        <div class="downloadallattachm">
                            Download all attachments
                        </div>
                        <div class="tableheader">
                            <div class="background1">
                            </div>
                            <div class="group6">
                                <div class="tableheadercopy5">
                                    Description
                                </div>
                            </div>
                            <div class="group6copy">
                                <div class="tableheadercopy5">
                                    Added by
                                </div>
                                <div class="tableheadercopy6">
                                    Date added
                                </div>
                            </div>
                            <div class="group1">
                                <div class="tableheader1">
                                    File
                                </div>
                            </div>
                            <img anima-src="/images/summary/v5-external-service-screen-rejected-line-3.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="tablerow">
                            <div class="background1">
                            </div>
                            <div class="tabletablerow">
                                <div class="description">
                                    patient referral letter
                                </div>
                                <div class="addedby">
                                    JONES, Michael (Dr) -<br />Referring Clinician
                                </div>
                                <div class="date">
                                    3/5/2019
                                </div>
                                <div class="file">
                                    Referral letter.pdf
                                </div>
                                <img anima-src="/images/summary/v5-external-service-screen-rejected-line-copy-1.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iconclose">
                                <img anima-src="/images/summary/v5-external-view-referral-letter-icon-close-3@2x.png" class="iconclose1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="tablerowcopy3">
                            <div class="background1">
                            </div>
                            <div class="tabletablerow">
                                <div class="description">
                                    new referral letter
                                </div>
                                <div class="addedby">
                                    JONES, Michael (Dr) -<br />Referring Clinician
                                </div>
                                <div class="date">
                                    10/5/2019
                                </div>
                                <div class="file">
                                    Referral Letter 01.doc
                                </div>
                                <img anima-src="/images/summary/v5-external-service-screen-rejected-line-copy-2.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iconclose">
                                <img anima-src="/images/summary/v5-external-view-referral-letter-icon-close-3@2x.png" class="iconclose1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="tablerowcopy">
                            <div class="background1">
                            </div>
                            <div class="tabletablerow">
                                <div class="description">
                                    MRI scan from 3/5/19
                                </div>
                                <div class="addedby">
                                    ALTAF, Noor - Referring Clinician Admin
                                </div>
                                <div class="date">
                                    5/5/2019
                                </div>
                                <div class="file">
                                    scan4032.pdf
                                </div>
                                <img anima-src="/images/summary/v5-external-service-screen-rejected-line-copy-3.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iconclose">
                                <img anima-src="/images/summary/v5-external-view-referral-letter-icon-close-3@2x.png" class="iconclose1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="tablerowcopy2">
                            <div class="background1">
                            </div>
                            <div class="tabletablerow">
                                <div class="description">
                                    Blood results
                                </div>
                                <div class="addedby">
                                    ANDERSON, Julie (Mrs) - Referring Clinician Admin
                                </div>
                                <div class="date">
                                    8/5/2019
                                </div>
                                <div class="file">
                                    bloodResults.pdf
                                </div>
                                <img anima-src="/images/summary/v5-external-service-screen-rejected-line-copy-4.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iconclose">
                                <img anima-src="/images/summary/v5-external-view-referral-letter-icon-close-3@2x.png" class="iconclose1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="rectangle2">
                        </div>
                        <div class="group">
                            <div class="file">
                                Show all CRI information
                            </div>
                            <img anima-src="/images/summary/v5-external-service-screen-rejected-triangle-1@2x.png" class="triangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="referredby">
                    Referred by:
                </div>
                <div class="appointment">
                    Appointment:
                </div>
                <div class="organisation">
                    Organisation:
                </div>
                <div class="clinician">
                    Clinician:
                </div>
                <div class="clinicalcontext">
                    Clinical context:
                </div>
                <div class="service1">
                    Service:
                </div>
                <div class="priority">
                    Priority:
                </div>
                <div class="registeredpractice">
                    Registered Practice:
                </div>
                <div class="relatedubrn">
                    Related UBRN
                </div>
                <div class="viewhistory">
                    View History
                </div>
                <div class="viewadviceguidan">
                    View Advice &amp; Guidance
                </div>
                <div class="location">
                    Location:
                </div>
                <div class="altafnoormr">
                    ALTAF, Noor (Mr)
                </div>
                <div class="label1">
                    -
                </div>
                <div class="viewservice">
                    View service
                </div>
                <div class="changeservice">
                    Change service
                </div>
                <div class="paxtongreengroupp">
                    Paxton Green Group Practice
                </div>
                <div class="smithstevedr">
                    SMITH, Steve (Dr)
                </div>
                <div class="cardiologyarrhythmi">
                    Cardiology/Arrhythmia
                </div>
                <div class="cardiologyservice">
                    Cardiology Service, Tunbridge Wells Hospital, Pembury, Maidstone &amp; Tunbridge Wells, RWF
                </div>
                <div class="routine">
                    Routine
                </div>
                <div class="turnbridgewellshos">
                    Turnbridge Wells Hospital
                </div>
                <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-triangle-2@2x.png" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="buttonprimarydefaultdesktop">
                    <img anima-src="/images/summary/v5-external-view-referral-letter-background@2x.png" class="background" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="buttontext">
                        Rebook
                    </div>
                </div>
                <div class="buttonsecondarydefaultdesktop">
                    <img anima-src="/images/summary/v5-external-service-screen-rejected-background-1@2x.png" class="background" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="buttontext">
                        Cancel referral
                    </div>
                </div>
                <div class="paxtongreengroupp1">
                    Paxton Green Group Practice
                </div>
                <div class="history">
                    <div class="background">
                    </div>
                    <div class="history1">
                        History
                    </div>
                    <div class="rejectappointment">
                        Reject appointment
                    </div>
                    <div class="bookappointment">
                        Book appointment
                    </div>
                    <div class="a18april1223">
                        18 April 12:23
                    </div>
                    <div class="a9april0915">
                        9 April 09:15
                    </div>
                    <div class="byroleorganisati">
                        By: <br />Role: <br />Organisation: <br />Reason: <br />Comment:
                    </div>
                    <div class="tunbridgewellshosp">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="serviceprovidercli">
                        Service Provider Clinician<br />
                    </div>
                    <div class="byroleorganisati1">
                        By: <br />Role: <br />Organisation:<br />Appointment date:
                    </div>
                    <div class="serviceprovidercli1">
                        Service Provider Clinician<br />
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="drstevesmith">
                        Dr Steve Smith<br />
                    </div>
                    <div class="inappropriateservic1">
                        Inappropriate service
                    </div>
                    <div class="referralinappropria1">
                        Referral inappropriate for this type of service. Please book into an alternative service.
                    </div>
                    <div class="drstevesmith1">
                        Dr Steve Smith<br />
                    </div>
                    <div class="tunbridgewellshosp1">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="a4july2019at11am">
                        4 July, 2019 at 11am
                    </div>
                    <div class="modifyrequest">
                        Modify Request
                    </div>
                    <div class="a9april0912">
                        9 April 09:12
                    </div>
                    <div class="byroleorganisati2">
                        By: <br />Role: <br />Organisation: <br />
                    </div>
                    <div class="tunbridgewellshosp2">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="serviceprovidercli2">
                        Service Provider Clinician<br />
                    </div>
                    <div class="drstevesmith2">
                        Dr Steve Smith<br />
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="recordtriageoutcom">
                        Record Triage Outcome
                    </div>
                    <div class="tunbridgewellshosp3">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="serviceprovidercli3">
                        Service Provider Clinician<br />
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="drstevesmith3">
                        Dr Steve Smith<br />
                    </div>
                    <div class="referbooknow">
                        Refer/Book now
                    </div>
                    <div class="label11">
                        -
                    </div>
                    <div class="byroleorganisati3">
                        By: <br />Role: <br />Organisation: <br />Triage Outcome:<br />Comment:
                    </div>
                    <div class="addreferralletter">
                        Add Referral Letter
                    </div>
                    <div class="byroleorganisati4">
                        By: <br />Role: <br />Organisation: <br />
                    </div>
                    <div class="tunbridgewellshosp4">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="serviceprovidercli4">
                        Service Provider Clinician<br />
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="drstevesmith4">
                        Dr Steve Smith<br />
                    </div>
                    <div class="requesttriage">
                        Request Triage
                    </div>
                    <div class="createrequest">
                        Create request
                    </div>
                    <div class="ubrnissued">
                        UBRN Issued
                    </div>
                    <div class="a2april1457">
                        2 April 14:57
                    </div>
                    <div class="a2april1452">
                        2 April 14:52
                    </div>
                    <div class="a2april1451">
                        2 April 14:51
                    </div>
                    <div class="byroleorganisati5">
                        By: <br />Role: <br />Organisation: <br />
                    </div>
                    <div class="byroleorganisaticopy">
                        By: <br />Role: <br />Organisation: <br />
                    </div>
                    <div class="byroleorganisaticopy2">
                        By: <br />Role: <br />Organisation: <br />
                    </div>
                    <div class="tunbridgewellshosp5">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="tunbridgewellshospcopy">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="tunbridgewellshospcopy2">
                        Tunbridge Wells Hospital<br />
                    </div>
                    <div class="serviceprovidercli5">
                        Service Provider Clinician<br />
                    </div>
                    <div class="serviceproviderclicopy">
                        Service Provider Clinician<br />
                    </div>
                    <div class="serviceproviderclicopy2">
                        Service Provider Clinician<br />
                    </div>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy21" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="/images/summary/v5-external-v4-service-screen-nuffield-health-line-copy-2-1.png" class="linecopy31" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="drstevesmith5">
                        Dr Steve Smith<br />
                    </div>
                    <div class="drstevesmithcopy">
                        Dr Steve Smith<br />
                    </div>
                    <div class="drstevesmithcopy2">
                        Dr Steve Smith<br />
                    </div>
                    <div class="a2april1505">
                        2 April 15:05
                    </div>
                    <div class="a9april0909">
                        9 April 09:09
                    </div>
                </div>
                <div class="rectangle1">
                </div>
                <img anima-src="/images/summary/v5-external-service-screen-rejected-service-details.png" class="servicedetails" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="javascript:history.back()">
                    <div class="hotspot">
                    </div>
                </a>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
