{% extends 'layout.html' %}

{% block beforeContent %}
  {{ hero({
    "heading": "e Referral service",
    "text": "Prototypes and confidence levels from usability testing"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">
<h2><a href="referral-flow">Referral search flow</a></h2>
<p>Admin or GP referral</p>

<h2><a href="summary/referral-summary">Referral summary screen</a></h2>
<p>Referral summary screen</p>

<h2><a href="worklists/worklists">Referral worklists</a></h2>
<p>Worklist management</p>




    </div>
  </div>
{% endblock %}
