{% extends 'layout.html' %}

{% block beforeContent %}
  {{ hero({
    "heading": "e Referral service",
    "text": "Prototypes and confidence levels from usability testing"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-top-4">
<h2><a href="referral-flow">Referral search flow</a></h2>
<p>Admin or GP referral</p>

<h2><a href="appointments">Appointments</a></h2>
<p>Admin or GP appointment selection</p>

<h2><a href="advice">Advice and guidance</a></h2>
<p>Admin referrer requests advice from a provider</p>

<h2><a href="summary">Summary</a></h2>
<p>Admin manages their worklist</p>



    </div>
  </div>
{% endblock %}
