{% extends 'layout.html' %}

{% block beforeContent %}
  {{ hero({
    "heading": "e Referral service",
    "text": "Prototypes and confidence levels from usability testing"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-u-margin-top-4">

    <h2>Referral search flow</h2>
    <div class="nhsuk-grid-column-full">
    <table class="nhsuk-table">
      <!-- TABLE START -->
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table_header">Version</th>
          <th class="nhsuk-table_header">Confidence</th>
          <th class="nhsuk-table_header">Changes made</th>
        </tr>
      </thead>

        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/search">version 9</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag">HIGH - Not tested</span></td>
                <td class="nhsuk-table__cell">This is the final end to end prototype</td>

          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv8">version 8</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag">HIGH - Not tested</span></td>
                <td class="nhsuk-table__cell">Added gender/age filter as per hazard asessment.Added appointments layout and Indicative wait time.</td>

          </tr>

          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv7">version 7</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag">HIGH</span></td>
                <td class="nhsuk-table__cell">Made search by clinician easier, removed sidebar filters, made results clickable by row, added dropdown signifier</td>

          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv6">version 6</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag__success">HIGH</span></td>
              <td class="nhsuk-table__cell">Changes to terminology in results, added choose clinician and check patient details</td>


          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv5">version 5</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag__success">HIGH</span></td>
                <td class="nhsuk-table__cell">Hid sidebar filters, changed CTA wording, content changes</td>

          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv4">version 4</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag">MEDIUM</span></td>
                <td class="nhsuk-table__cell">Service detail explander, reduced font, button, and form component sizes</td>

          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv3">version 3</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag">MEDIUM</span></td>
                <td class="nhsuk-table__cell">Minimal flow using GOV confirmation pattern</td>

          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv2">version 2</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag__warning">LOW</span></td>
                <td class="nhsuk-table__cell">Added triage and RAS details to flow</td>

          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><a href="/searchv1">version 1</a></td>
              <td class="nhsuk-table__cell"><span class="nhsuk-tag__warning">LOW</span></td>
                <td class="nhsuk-table__cell">Initial prototype with minimal components</td>

          </tr>


        </tbody>

    </table>

      <hr>



    </div>
  </div>
{% endblock %}
